Package: com.vibe.vibetendies
Name: VibeTendies
Version: 0.1.1
Architecture: iphoneos-arm64
Description: Wallpaper overlay tweak
Maintainer: vibe
Author: vibe
Section: Tweaks
Depends: ellekit, preferenceloader
