Package: com.vibe.vibetendies
Name: VibeTendies
Description: Overlay wallpaper tweak
Maintainer: vibe
Author: vibe
Section: Tweaks
Depends: mobilesubstrate
Architecture: iphoneos-arm64
Version: 0.0.2-1+debug
Installed-Size: 216
