Package: com.vibe.vibetendies
Name: VibeTendies
Description: Overlay wallpaper tweak
Maintainer: vibe
Author: vibe
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
Architecture: iphoneos-arm64
Version: 0.0.3-1+debug
Installed-Size: 216
